
<% content_for(:head_scripts) do%>
  <script language="javascript" type="text/javascript">
    $(function() {
      var options = {
        url: '/main/branch',
        clickLeaf: function() {
          alert('you clicked id! id=' + $(this).attr('id'));
        },
        addNodeHandler: showAddDialog,
        removeNodeHandler: showDeleteDialog,
        beforeOpen: function() {
          $('#loader').show();
        },
        openingFinished: function() {
          $('#loader').hide();
        }
      }
      $('#tree').tree(options);
    });
  </script> 
<% end %>

<% content_for(:menu) do %>
  <p> Foo menu <img id="loader" src="/images/ajax-loader.gif" style="display:none"/></p>
  <ul id="tree">
    <% @roots.each do |r| %>
      <li id="<%= r.id %>" >
        <%= r.name %>
      </li>
    <% end %>
  </ul>

<% end %>

<% content_for(:content) do %>

  You can find foo content here

<% end %>
